<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/stil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <title>Akupukntura - Saša Lukić</title>
</head>
<body>
<div class="nav-hero">
    <div class="nav">
        <img src="img/logo.png" class="logo">
        <div class="navigacija">
            <a href="#">Početna</a>
            <a href="#">O Autoru</a>
            <a href="#">Usluge</a>
            <a href="#">Kontakt</a>
        </div>
    </div>
    <div class="hero">
        <h1>Akupunktura</h1>
        <div class="hero-text">
            <p>
                Kao najstarija metoda lečenja danas je sve aktuelnija</p>
            <p>jer nema nikakvih negativnih efekata kod njene primene na čovek.
            </p>
        </div>
        <a href="#" class="dugme1">Saznajte više</a>
    </div>
    <div class="social-h">
        <a href="#"><img src="img/social-01.png"></a>
        <a href="#"><img src="img/social-02.png"></a>
        <a href="#"><img src="img/social-03.png"></a>
        <a href="#"><img src="img/social-04.png"></a>
    </div>
</div>
<div class="istorija">
    <div class="blok">
        <div class="text">
            <h1>Nešto o istoriji akupunkture.</h1>
            <p>Akupunktura je starokineska metoda lečenja pomoću igala koje se zabadaju u određene tačke na koži. Sama
                je rec latinskog porekla (acus-igla, pungere-zabadati,bosti). Metoda je dobila naziv od evropskih
                misionara koji su posetili Kinu krajem 16. i početkom 17.veka i prvi obavestili Evropu o lečenju na
                kineski način. Akupunktura kao deo kineske tradicionalne medicine zasniva se na temeljima drevne kineske
                filozofije i kulture, o čijim je počecima potrebno reći nekoliko reči.</p>
            <p>Prvi legendarni kineski vladar Fu Hsi autor je najstarijeg dela legendarne mudrosti Ji Cing (Knjiga
                promena), izdatog 2852. godine pre nove ere. Posle njega dolazi Šen Nong, a zatim Huang Di Ti.
            </p>
            <a href="#" class="dugme2">Saznajte više</a>
        </div>
        <div class="blok-img">
            <img src="img/01.jpg">
        </div>
    </div>
    <div class="blok">
        <div>
            <img src="img/02.jpg">
        </div>
        <div class="text2">
            <h1>Knjiga o akupunkturi.</h1>
            <p>Tehnike masaže koje dolaze sa istoka razlikuju se po nazivima i zemljama gde su njihovi koreni ali cilj
                svih tehnika je poboljšanje energetskog zdravstvenog stanja primaoca masaže. U ovoj knjizi cemo dati
                pregled svih tehnika koje se primenjuju u Kini i Japanu sa posebnim akcentom na najpoznatiju od njih -
                siatsu masažu.</p>
            <p>Japanci to rade, otklanjaju bolove i tegobe, takozvanom siatsu metodom što znaci PRITISAK PRSTIMA. Evo
                kako možete, pritiskom prsta, sami sebi da pomognete, pritiskajuci na odredjena mesta vašeg tela.
                Strucnjaci su telo obeležili meridijanima na kojima se nalaze tacke preko kojih uticemo na organizam. Da
                bi se uspešno primenjivao ovaj terapeutski postupak odredjena su i specificna mesta NA POVRŠINI TELA. Ta
                mesta se nalaze udaljena od mesta gde se javljaju bolovi pa se dogadja da se pritisak vrši na nogama i
                rukama, recimo kod bolova koji prouzrokuju hemoroidi (šuljevi).</p>
            <a href="#" class="dugme2">Saznajte više</a>
        </div>
    </div>
</div>
<div class="knjige-cd">
    <h1>Knjige</h1>
    <div class="knjige-cd-inner">
        <div class="knjiga">
            <img src="img/knjiga-1.jpg">
            <h2>Osnove akopunkture</h2>
            <p>Prema Yin-Yang teoriji svi organi i tkiva ljudskog tela imaju značenje Yina ili Yanga. Leva strana tela
                je Yang, desna je Yin.</p>
            <a href="#" class="zuto-dugme">Saznajte više</a>
        </div>
        <div class="knjiga">
            <img src="img/knjiga-2.jpg">
            <h2>Elektroakupresura</h2>
            <p>Prema Yin-Yang teoriji svi organi i tkiva ljudskog tela imaju značenje Yina ili Yanga. Leva strana tela
                je Yang, desna je Yin.</p>
            <a href="#" class="zuto-dugme">Saznajte više</a>
        </div>
        <div class="knjiga">
            <img src="img/cd.jpg">
            <h2>CD o akupuknturi</h2>
            <p>- video materijal
            <p>- karta akupunkturnih tačaka</p>
            <p>- klinička istraživanja</p>
            <a href="#" class="zuto-dugme">Saznajte više</a>
        </div>
        <div class="knjiga">
            <img src="img/knjiga-3.jpg">
            <h2>Istočnjačka masaža</h2>
            <p>Tehnike masaže koje dolaze sa istoka razlikuju se po nazivima i zemljama gde su njihovi koreni ali cilj
                svih tehnika je poboljšanja...</p>
            <a href="#" class="zuto-dugme">Saznajte više</a>
        </div>
    </div>
</div>
<div class="citat">
    <img src="img/navodnici.png" width="80px" height="80px">
    <div class="citat-inner">
        <h1>"Tridesetogodišnje iskustvo u primeni akupunkture donelo mi je mnoga zadovoljstva u rešavanju ljudskih
            tegoba za koje naša, zapadna medicina nije mogla da da efikasno i brzo rešenje bez sporednih negativnih
            posledica."</h1>
        <div class="slika">
            <img src="img/portret.png">
            <h3>Saša Lukić</h3>
        </div>
    </div>
</div>
<div class="autor">
    <h1>O autoru</h1>
    <div class="autor-p">
        <p>Dr Saša Lukić je jedini lekar u Nišu koji je vodio odelenje za akupunkturu u okviru državne ustanove.
            Odelenje se zvalo “odelenje za koplementarnu medicinu” i funkcionisalo je od 2001. do 2007. godine u ZZZZR
            Železnice Srbije Dispanzera u Nišu.</p>
    </div>
    <a href="#" class="dugme-autor">Saznajte više</a>
</div>
<div class="pitanja">
    <h1>Najčešća pitanja i korisni linkovi:</h1>
    <div class="pitanja-inner">
        <ul class="lista">
            <li>Da li je akupunktura priznata metoda?</li>
            <li>Da li je akupunktura bezbedna metoda?</li>
            <li>Kakvi su efekti akupunkture kod gojaznosti?</li>
            <li>Da li je moguće akupunkturom dobiti hepatitis ili sidu?</li>
        </ul>
    </div>
    <a href="#" class="zuto-dugme">Saznajte više</a>
</div>
<div class="email-forma">
    <form action="https://formsubmit.co/jevtas@gmail.com" method="POST" class="forma">
        <input type="text" name="name" placeholder="Ime i Prezime" required>
        <input type="email" name="email" placeholder="Vaša Email adresa" required>
        <textarea type="text" name="message" placeholder="Vaša poruka" required id="forma-text" row="10"></textarea>
        <input type="hidden" name="_next" value="return.html">
        <input type="hidden" name="_template" value="box">
        <button type="submit" class="submit-button">Pošaljite Email</button>
    </form>
</div>
<div class="footer">
    <img src="img/logo.png" class="logo">
    <div class="social">
        <a href="#"><img src="img/social-01.png"></a>
        <a href="#"><img src="img/social-02.png"></a>
        <a href="#"><img src="img/social-03.png"></a>
        <a href="#"><img src="img/social-04.png"></a>
    </div>
</div>
</body>
</html>
